@using TicTacToe.Models
@model TicTacToeViewModel
@{
    ViewData["Title"] = "Gamer Page";
}



<div class="text-center">
    <h1 class="display-4">Welcome to Gamer Page </h1>
    <partial name="_GamerLoginPartial" />
</div>
